<div class="container">
	<div class="row">
	  <div class="col-xs-offset-3 col-xs-6">
		<h1>welcome to </h1>
		<h1><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1>
		<p>In  Bookers,</p>
        <p>you can share and exchange  your opinions , inpressions , and emotions</p>
        <p> about varioius books!</p>
		<div> <%= link_to 'Log in', user_session_path, class: "btn btn-info active col-xs-12" %></div>
		<div><%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success col-xs-12" %></div>
		</div>
    </div>
</div>